body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

svg {
  fill: #0082ff !important;
  color: #0082ff !important;
}

#content {
  max-width: 99%;
  margin: 0 auto;
}

.dcman {
  margin: 0 auto;
  width: 75%;
  margin-top: 10px;
}

.dcman svg {
  fill: #fff !important;
  color: #fff !important;
}

.section__hero {
  height: 94vh;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  background: url("../images/bg-image.jpg");
  background-size: cover;
  margin-top: -70px;
}

.main-text {
  margin-top: 20%;
  padding-bottom: 20px;
  border-bottom: 8px solid white;
}

.main-text h3{
  font-size: 70px;
  font-weight: 800;
  color: #eceff5;
  line-height: 1;
}

.detailed-text h5 {
  font-size: 1.45em;
  font-weight: 200;
  margin-top: 40px;
  line-height: 2em;
  color: #ccc;
}

.role-text {
  border: 1px solid #9ECCFA;
  width: 50px;
  text-align: center;
  border-radius: 4px;
  color: #0082ff;
  margin-top: -12px;
  font-size: 15px;
  margin-left: 0;
}

.email-text {
  margin-top: 18px;
  margin-bottom: -15px;
}

.mobile-profile {
  margin-top: 10px;
}

.username {
  font-size: 24px;
}

.right-button {
  margin-left: 5%;
}

@media screen and (max-width: 1200px) {
  .dcman {
    margin: 0 auto;
    width: 90%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 880px) {
  .icon-menu {
    display: none !important;
  }
}

@media screen and (max-width: 880px) {
  .profile {
    display: none;
  }

  .dcman {
    margin: 0 auto;
    width: 90%;
    padding-top: 10px;
  }

  .ReactModal__Content--after-open {
    width: 80% !important;
  }

  .docsList {
    width: 100% !important;
  }
}

.error-toast {
  background-color: rgba(210, 57, 57, 1);
}

.success-toast {
  background-color: #0c3;
}

.footer {
  margin-top: -2px;
  background-color: #3c3e42;
  border-top: 1px solid #f2f2f2;
  color: #9ba6b5;
  padding: 24px;
  height: 70px;
  bottom: 0%;
  position: fixed;
  width: 100%;
}

.footer .copyright {
    color: #fff;
    margin: 0 0 4px;
    font-size: 15px;
}
