body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%
}

.dcman {
  margin: 0 auto;
  width: 75%;
  margin-top: 10px;
}
.section__hero {
  height: 94vh;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  background: url("../images/main-image.jpg");
  background-size: cover;
  margin-top: -70px;
}

.main-text {
  margin-top: 20%;
  padding-bottom: 20px;
  border-bottom: 8px solid white;
}

.main-text h3{
  font-size: 70px;
  font-weight: 800;
  color: #eceff5;
  line-height: 1;
}

.detailed-text h5 {
  font-size: 1.45em;
  font-weight: 200;
  margin-top: 40px;
  line-height: 2em;
  color: #ccc;
}

.role-text {
  border: 1px solid rgb(224, 50, 209);
  width: 50px;
  text-align: center;
  border-radius: 4px;
  color: #E008EA;
  margin-top: -20px;
  font-size: 15px;
}

.email-text {
  margin-top: 18px;
  margin-bottom: -15px;
}

@media screen and (max-width: 1200px) {
  .dcman {
    margin: 0 auto;
    width: 90%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 880px) {
  .profile {
    display: none;
  }
  .dcman {
    margin: 0 auto;
    width: 90%;
    margin-top: 10px;
  }
  .docsList {
    width: 100% !important;
  }
}

.error-toast {
  background-color: rgba(210, 57, 57, 1);
}

.success-toast {
  background-color: #0c3;
}

.footer {
  margin-top: -2px;
  background-color: #3c3e42;
  border-top: 1px solid #f2f2f2;
  color: #9ba6b5;
  padding: 24px;
  height: 70px;
  bottom: 0%;
  position: fixed;
  width: 100%;
}

.footer .copyright {
    color: #fff;
    margin: 0 0 4px;
    font-size: 15px;
}

.ReactModal__Overlay .ReactModal__Overlay--after-open {
  z-index: 10;
}
