.dcman {
  margin: 0 auto;
  width: 75%;
}
.section__hero {
  height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  background: url("../images/background.jpg");
}
.section__hero h3 {
  color: white;
}
.section__hero h5 {
  line-height: 2.3rem;
}
.section__hero h5 span {
  border-bottom: 2px solid white;
}
.section__hero h1 {
  font-weight: bold;
  font-size: 4.2rem;
  line-height: 1.10;
  color: #393939;
}
.section__hero .btn {
  width: 20rem;
  margin-top: 1.5rem;
}

.section__hero .btn__main-cta {
  height: 3rem;
}

.btn-start {
  background-color: #E040FB;
}
.btn-start:hover {
  background-color: #E34BFD;
}

@media screen and (max-width: 1200px) {
  .dcman {
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 880px) {
  .profile {
    display: none;
  }
  .dcman {
    margin: 0 auto;
    width: 90%;
  }
  .docsList {
    width: 100% !important;
  }
}

.error-toast {
  background-color: rgba(210, 57, 57, 1);
}

.success-toast {
  background-color: #0c3;
}
